<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>S5 | Simple Secure Secret Sharing Storage</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta accusantium incidunt earum vel quisquam natus reiciendis laborum qui, cum nesciunt. Sed, quas reiciendis magni aut eos dolor placeat rem possimus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta accusantium incidunt earum vel quisquam natus reiciendis laborum qui, cum nesciunt. Sed, quas reiciendis magni aut eos dolor placeat rem possimus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta accusantium incidunt earum vel quisquam natus reiciendis laborum qui, cum nesciunt. Sed, quas reiciendis magni aut eos dolor placeat rem possimus.</p>
  </div>
</div>
